<!-- <div class=" d-flex jusify-content-between align-items-center ">
    <div class="col-lg-4 w-25 me-5"  *ngFor="let item of items$ | async">
            <img [src]="item.imageLink" alt="Product Image" class="w-100 ">
          </div>
          <div class="col-lg-4 w-25 ms-5"  *ngFor="let item of items$ | async">
            <p>{{item.productID}}</p>
        </div>
    <div class="col-lg-4 w-25 ms-5"  *ngFor="let item of items$ | async">
        <i class="fa-solid fa-trash fs-5" (click)="removeFromCart(item)"></i >

    </div>

    </div> -->
     

    <div class="row d-flex mt-3 justify-content-between align-items-center w-100 cart"*ngFor="let item of items$ | async">
  <div class="col-4">
    <img [src]="item.imageLink" alt="Product Image" class="w-100">

  </div>
  <div class="col-4">
    <p class="fw-bold"> {{ item.productName }}</p>
    <p>Item Code: {{item.productID}}</p>

  </div>
  <div class="col-4">
    <i class="fa-solid fa-trash fs-5 icon" (click)="removeFromCart(item)"></i>

  </div>
    </div>

    